<!DOCTYPE html>
<html>
<head>
  <title>TwitterSA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <meta charset="utf-8">
  <script src="{{ url_for('static', filename='js/vendor/Chart.min.js') }}" charset="utf-8"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">
  <div class="row" id="search-row">
    <h1>Twitter Sentiment Analysis</h1>

    <form class="form-inline" role="form" action="/search">
      <div class="form-group">
        <input class="form-control" name="q" placeholder="Search term or @handle">
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </form>
  </div>
  {% block main %}{% endblock %}
</div>
</body>

</html>
